/* Clear default styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	font-size: 16px;
	background-color: #EEECE3;
}
label {
	width: 100%;
	margin-bottom: 7px;
}
input {
	border: 1px solid #EEECE3;
	border-radius: 7px;
	height: 34.4px;
	padding: 0 10px;
	color: #EEECE3;
	background-color: #373539;
	font-size: 16px;
}
.Select .Select-input input {
	padding: 0;
}
.Select .Select-clear {
	padding-top: 3px;
}
.Select .Select-menu-outer {
	padding-top: 5px;
	margin-top: -5px;
}
.Select .Select-menu-outer .VirtualizedSelectOption {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 8px;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background-color: #EEECE3;
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
	background-color: #373539;
	border-radius: 5px;
	border: 1px solid #EEECE3;
}

/* Loading */
._dash-loading, .container__preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(3px);
	background-color: rgba(238, 236, 227, 0.7);
	font-size: 21px;
	color: #373539;
}
.container__preloader {
	display: none;
}
._dash-loading::before, .container__preloader::before {
	content: '';
	display: block;
	height: 110px;
	width: 110px;
	margin-left: -3px;
	margin-bottom: -6px;
	background: url('icons/preload-logo.svg') no-repeat center;
	background-size: contain;
}
._dash-loading::after, .container__preloader::after {
	position: absolute;
	margin-top: -35px;
	content: '';
  	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #EEECE3;
	border-top: 3px solid #373539;
	animation: rotation 1s linear infinite;
}
@keyframes rotation {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/* Container */
.container {
	position: relative;
	height: 100vh;
	width: 100%;
}
.content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}

/* Sidebar */
.content__sidebar {
	width: 20%;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	background-color: #373539;
	color: #EEECE3;
	border-radius: 0 30px 0 0;
	box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.content__sidebar::-webkit-scrollbar { 
    display: none;
}

/* Logo */
.content__logo {
    position: sticky;
    top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #373539;
    z-index: 80;
}
.content__logo img {
	height: 95px;
	padding-top: 5px;
	cursor: pointer;
}
.content__logo div {
	font-size: 21px;
	margin-top: -14px;
	margin-bottom: 20px;
}

/* Tabs */
.content__sidebar .tab-parent {
    width: 100%;
}
.content__sidebar .content__tabs {
	height: 33px;
	width: 184px;
	margin: 10px auto 25px;
	display: flex;
	justify-content: space-between;
}
.content__sidebar .content__tabs .content__tab {
	width: max-content;
    border: none !important;
    padding: 0;
	cursor: default !important;
	background-color: #373539;
}
.content__sidebar .content__tabs .content__tab:hover {
	background-color: #373539;
}
.content__sidebar .content__tabs .content__tab span {
	display: block;
	position: relative;
    height: 100%;
	width: 33px;
	background-color: #373539;
    border: 1px solid #EEECE3 !important;
    border-radius: 10px;
    text-align: center;
	cursor: pointer !important;
	transition: background-color 0.2s linear;
}
.content__sidebar .content__tabs .content__tab span:hover {
	background-color: rgba(238, 236, 227, 0.1);
}
.content__sidebar .content__tabs .tab--selected span {
	background-color: rgba(238, 236, 227, 0.15);
	color: #EEECE3;
}
.content__sidebar .content__tabs .content__tab span::after {
	position: absolute;
	content: '';
  	display: block;
	margin: 5px;
	width: 23px;
	height: 23px;
}
.content__sidebar .content__tabs .content__tab_1 span::after {
	background: url('icons/org-info.svg') no-repeat center;
	background-size: contain;
}
.content__sidebar .content__tabs .content__tab_2 span::after {
	background: url('icons/tuning.svg') no-repeat center;
	background-size: contain;
}
.content__sidebar .content__tabs .content__tab_3 span::after {
	background: url('icons/search.svg') no-repeat center;
	background-size: contain;
}
.content__sidebar .content__tabs .content__tab_4 span::after {
	background: url('icons/canvas.svg') no-repeat center;
	background-size: contain;
}

/* Default */
.header {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 12px;
}
.button {
	margin-bottom: 10px;
	width: 100%;
	height: 36px;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	border: 1px solid #EEECE3;
	border-radius: 7px;
	background-color: #373539;
	color: #EEECE3;
	cursor: pointer;
	transition: background-color 0.3s linear;
}
.button:hover {
	background-color: rgba(238, 236, 227, 0.15);
}
.content__change-org {
	margin-bottom: 25px;
}
.content__info-org {
	margin-bottom: 7px;
	font-size: 15px;
}
.content__info-hindex {
	margin-bottom: 20px;
}
.content__info-org-graph_header {
	margin-bottom: 8px;
}
.content__graph-org {
	margin-bottom: 25px;
	height: 200px;
	overflow: hidden;
}
.content__graph-org .js-plotly-plot .plotly div {
	height: 200px !important;
}
.dropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.dash-dropdown .Select-control {
	color: #EEECE3;
	background-color: #373539;
	border: 1px solid #EEECE3;
	border-radius: 7px;
}
.dash-dropdown .Select-clear,
.dash-dropdown .Select--single .Select-control .Select-value,
.dash-dropdown .Select--single .Select-control .Select-value .Select-value-label,
.dash-dropdown .has-value.is-pseudo-focused.Select--single .Select-control .Select-value .Select-value-label {
	color: #EEECE3;
}
.dash-dropdown .is-focused:not(.is-open) .Select-control {
	border-color: #EEECE3;
    box-shadow: none;
}
.dash-dropdown .Select-arrow {
	border-color: #EEECE3 transparent transparent;
}
.dash-dropdown .is-open .Select-control .Select-arrow {
	border-color: transparent transparent #EEECE3;
}
.dash-dropdown .Select-menu-outer {
	color: #EEECE3;
	background-color: #373539;
	border-radius: 0 0 7px 7px;
}
.dash-dropdown .VirtualizedSelectFocusedOption {
	background-color: rgba(238, 236, 227, 0.1);
}

/* Search */
.search {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 14px;
}
.search__input {
	width: calc(100% - 51px);
	border: 1px solid #EEECE3;
	border-radius: 7px 0 0 7px;
	border-right: none;
	overflow: hidden;
}
.search input {
	border: none;
	width: calc(100% - 20px);
}
.search input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.search input[type="number"]::-webkit-outer-spin-button,
.search input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.search__button {
	width: 50px;
	height: 36px;
}
.search__button button {
	width: 100%;
	height: 100%;
	border: 1px solid #EEECE3;
	border-left: none;
	border-radius: 0 7px 7px 0;
	cursor: pointer;
	background-color: #EEECE3;
	font-size: 16px;
	transition: background-color 0.3s linear;
}
.search__button button::after {
	position: absolute;
	content: '';
  	display: block;
	margin: -9px 0 0 10px;
	width: 18px;
	height: 18px;
	background: url('icons/search-button.svg') no-repeat center;
	background-size: contain;
}
.search__button button:hover {
	background-color: rgba(238, 236, 227, 0.7);
}
.content__edge-threshold {
	margin-bottom: 7px;
}

/* Checkbox */
.content__checkbox {
	width: 100%;
	flex-direction: column;
	margin-bottom: 3px;
	accent-color: #EEECE3; 
}
.content__checkbox label {
	display: flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}
.content__checkbox input {
	margin-right: 7px;
}
.content__checkbox #show-isolates label {
	margin-top: -13px;
}

/* Metric */
.content__metric {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.content__metric .dropdown {
	margin-bottom: 10px;
}
.content__metric .Select-control {
	margin-bottom: 2px;
}
#color-thresholds-container {
	flex-direction: column;
}
#node-color-min {
	margin-bottom: 10px;
}
.content__new-canvas {
	margin-bottom: 20px;
}
.error__mini {
	color: red;
	font-size: 15px;
}

/* Canvas */
.canvas-list__header {
	margin-bottom: 7px;
}
.canvas-list {
	position: relative;
  	display: block;
    margin: 0 0 20px;
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid #EEECE3;
    border-radius: 7px;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.canvas-list__select label {
	position: relative;
	margin: 0;
	height: 36px;
	border-bottom: 1px solid #EEECE3;
	background-color: #373539;
	box-sizing: border-box;
	z-index: 3;
}
.canvas-list__select label:last-child {
    border-bottom: none;
}
.canvas-list__select label:hover {
    background-color: rgba(238, 236, 227, 0.1);
	z-index: 1;
}
.canvas-list__select label:hover .canvas-list__label {
    padding-right: 90px;
}
.canvas-list__select label input:checked + .canvas-list__label {
	background-color: rgba(238, 236, 227, 0.15);
}
.canvas-list__label {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 36px;
    padding: 0 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    cursor: pointer;
}
.canvas-list__actions-overlay {
	position: absolute;
    top: 8px;
    right: 10px;
	width: 70px;
	display: flex;
	flex-wrap: wrap;
}
.canvas-list__actions-overlay label {
	display: flex !important;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
	padding-right: 5px;
    background-color: rgba(238, 236, 227, 0);
    border: none;
	margin-bottom: 16px;
    cursor: pointer;
	z-index: 2;
}
.canvas-list__actions-overlay label:nth-child(3n) {
	padding-right: 0;
}
.canvas-list__actions-overlay label:nth-child(1),
.canvas-list__actions-overlay label:nth-child(2),
.canvas-list__actions-overlay label:nth-child(3) {
	opacity: 0;
	pointer-events: none;
}
.canvas-list__actions-overlay label:nth-last-child(1),
.canvas-list__actions-overlay label:nth-last-child(2),
.canvas-list__actions-overlay label:nth-last-child(3) {
	margin-bottom: 0;
}
.canvas-list__actions-overlay label:hover {
	z-index: 4;
}
.canvas-list__actions-overlay label:active img {
    filter: brightness(130%);
}
.canvas-list__actions-overlay label img {
	height: 18px;
	width: 18px;
}
.canvas-list__rename {
	position: absolute;
	display: none;
	z-index: 6;
}
.canvas-list__rename-input {
	width: calc(100% - 50px);
	border: none;
	border-radius: 0;
}
.canvas-list__rename-input input {
	border-radius: 0;
}
.canvas-list__rename-button {
	border-radius: 0;
}
.canvas-list__rename-button button {
    padding: 0 6px;
    border: none;
	border-radius: 0;
}
.canvas-list__rename-button button::after {
	width: 21px;
    height: 21px;
	margin: -10px 0 0 10px;
	background: url('icons/check.svg') no-repeat center;
	background-size: contain;
}

/* Graph */
.content__graph {
	width: 80%;
	display: flex;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
	padding: 4px;
}
.content__graph .tab-parent {
	height: 100px;
    width: 100%;
}
.content__graph .tab-container {
    height: 100px;
	overflow: hidden;
}
.content__graph .tab-container .tab  {
	position: relative;
    height: 100%;
	min-width: 20px;
	max-width: max-content;
	overflow: hidden;
    border: none !important;
    padding: 0;
    background-color: #EEECE3;
	cursor: default !important;
}
.content__graph .tab-container .tab:first-child {
	min-width: 48px;
}
.content__graph .tab-container .tab:first-child span {
	padding: 4px 10px;
}
.content__graph .tab-container .tab:hover {
	background-color: #EEECE3;
}
.content__graph .tab-container .tab span {
	display: block;
    white-space: nowrap;
    height: 100%;
    background-color: #EEECE3;
    border: 1px solid #373539 !important;
    border-radius: 12px 12px 0 0;
    text-align: center;
    padding: 4px;
    font-size: 15px;
	cursor: pointer !important;
	user-select: none;
	direction: rtl;
}
.content__graph .tab-container .tab--selected span {
	background-color: #373539;
	color: #EEECE3;
}
#network-graph {
	width: 100%;
	height: calc(100% - 25px);
    margin-top: -75px;
    border: 1px solid #373539;
    border-radius: 30px;
	box-sizing: border-box;
	overflow: hidden;
}

/* Legend */
#legend-bar {
	width: 100%;
	height: 16px;
	border-radius: 5px;
	background: linear-gradient(to right, #440154 0%, #26828E 50%, #FDE725 100%);
}
#legend-labels {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-top: 6px;
}
#color-legend {
	display: none;
	position: absolute;
	z-index: 3;
	left: 20px;
	bottom: 20px;
	width: 300px;
	padding: 10px 10px 6px;
	border-radius: 15px;
	background-color: #373539;
	color: #EEECE3;
}

/* Tooltip */
#hover-tooltip {
	display: none;
	position: absolute;
	left: 20px;
	top: 44px;
	background-color: #373539;
	color: #EEECE3;
	border-radius: 15px;
	z-index: 3;
	padding: 10px 10px 10px 15px;
	width: 350px;
	flex-direction: column;
	font-size: 15px;
}
#hover-tooltip-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#hover-tooltip-content span {
	margin-bottom: 5px;
}
#hover-tooltip-content span:first-child {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}
#hover-tooltip-content span:last-child {
	margin-bottom: 0;
	white-space: pre-wrap;
}
#show-info-button {
	display: none;
	border: none;
	background: none;
	text-align: left;
	padding: 0;
	margin-top: 5px;
	color: #8DD4F6;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s linear;
}
#show-info-button:hover {
	color: #1c8dc5;
}

/* Info */
.overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(55, 53, 57, 0.3);
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(3px);
	z-index: 100;
}
#info-overlay-content {
	max-width: 800px;
}
.info-overlay__header {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}
.info-overlay__description {
	margin-bottom: 20px;
}
.info-overlay__description div {
	margin-bottom: 5px;
}
.info-overlay__text {
	margin-bottom: 20px;
	max-height: 250px;
	overflow-y: scroll;
}
.info-overlay__table {
	width: 100%;
	border-collapse: collapse;
}
.info-overlay__table thead th:first-child {
	width: 85%;
	text-align: left;
}
.info-overlay__table tbody td:first-child {
	text-align: left;
}
.info-overlay__table tbody td {
	text-align: center;
	vertical-align: top;
	padding: 5px 0;
}
.info-overlay__close {
	width: 100px;
}

/* Overlay */
#overlay {
	display: flex;
}
.overlay__container {
	background-color: #373539;
	color: #EEECE3;
	padding: 20px;
	border-radius: 16px;
	min-width: 450px;
}
.overlay__header {
	margin-bottom: 14px;
	font-size: 18px;
}
.overlay__buttons {
	display: flex;
}
.overlay__buttons button {
	width: max-content;
	min-width: 83px;
	margin: 20px 15px 0 0;
	padding: 0 15px;
}
