/* Tooltip styles */
#hover-tooltip {
	display: none;
	position: absolute;
	left: 20px;
	top: 44px;
	background-color: #373539;
	color: #EEECE3;
	border-radius: 15px;
	z-index: 3;
	padding: 10px 10px 10px 15px;
	width: 350px;
	flex-direction: column;
	font-size: 15px;
}
#hover-tooltip-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#hover-tooltip-content span {
	margin-bottom: 5px;
}
#hover-tooltip-content span:first-child {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}
#hover-tooltip-content span:last-child {
	margin-bottom: 0;
	white-space: pre-wrap;
}
#show-info-button {
	display: none;
	border: none;
	background: none;
	text-align: left;
	padding: 0;
	margin-top: 5px;
	color: #8DD4F6;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s linear;
}
#show-info-button:hover {
	color: #1c8dc5;
}
